<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Arduino Webserver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Arcade project 2025-2026 5TWE</h2>
    <p>door: Kasper Waeyenbergh, Matthias Vanhove en Rob Laukens</p>

    <div class="spel-zone">
        <h2 class="titel">Minesweeper</h2>
        <img src="{{ url_for('static', filename='trofee1.png') }}" class="spel-foto">
    </div>

    <div class="knop-houder">
        <a href="/highscores" class="knop">High Scores</a>
    </div>
</body>
</html>